<div style="border:2px #ccc solid;padding:15px;margin-top:15px;font-family:sans-serif;">

    <p>Dear Author {{ name }},</p>

    <p>
        Congratulations!
    </p>

    <p>
        We are pleased to inform you that your proposal <strong>{{ title }}</strong> has been <strong>Accepted</strong> by the Programme Committee of the PyCon Taiwan {{ years }}.
    </p>
    <p>
        The program team is going to plan the full program schedule for PyCon Taiwan {{ years }}, 
        we invite you to access this website, {{ doodle }}, 
        and select date and time (please leave your email in “Your name” input box) 
        if you have a preferred session time. If you do not have a preferred session time though, 
        the program team will take the initiative to decide. 
        The final schedule will be based on the General Assembly announcement.
    </p>
    <p>
        Earlier, the registration team has already sent an <font color="green">invitation code </font>for you, 
        so you can always buy the ticket with early bird price, 
        please complete the ticket purchase before {{ registration_date }}. 
        <u>And if for some reason you have to withdraw your proposal, please also notify us through a reply.</u>
    </p>
    <p>
        PyCon Taiwan has announced this year’s Financial Aid Program, which is for helping those who aren’t able to totally 
        afford transport or registration fee to join PyCon TW. As long as you need a financial support, 
        please simply apply for the <a href="https://tw.pycon.org/{{ years }}/en-us/registration/financial-aid/">Financial Aid Program</a>.
    </p>
    <p>
        The above is the relevant details and matters from the program team. 
        If have any please mail to <strong>organizers@pycon.tw</strong> before {{ question_date }}.
    </p>
    <p>
        Congratulations again, and we’re looking forward to meeting you at this year's conference!<br>
    </p>
    <p>
        Best Regards,<br>
        PyCon TW {{ years }} Program Committee
    </p>
</div>