<div style="border:2px #ccc solid;padding:15px;margin-top:15px;font-family:sans-serif;">
    <p> English Below </p>
    
    <p>親愛的 {{ name }} 您好，</p>

    <p>
        恭喜！我們很高興通知，您的投稿 <strong>{{ title }}</strong> 經過  PyCon 臺灣 {{ years }} 審查委員們的最終審查後決議投稿為<strong>錄取</strong>。
    </p>
    <p>
        議程組正在進行議程安排，各位講者如有偏好的演講時間，邀請您至 {{ doodle }} 
        網站以投稿信箱作為使用者名稱登記並勾選對應時間，假如需要修改請重新進入網站再次填寫，將以最新記錄為主。
        如果沒有進入系統填寫，議程組將會主動幫您安排時間。最終議程還是會以大會公告為主。
    </p>
    <p>
        註冊組在稍早前也已經寄送<font color="green">投稿貢獻邀請碼（Submission, 投稿鼓勵票）</font>給您，請您務必在 {{ registration_date }} 前完成購票，
        <u>如果您臨時需要撤稿也請您回覆告知我們以方便議程安排。</u> 
    </p>
    <p>
        同時也通知各位講者，如果您在交通或是門票上需要協助也誠摯歡迎您申請今年財務補助方案，只要您提出需要 PyConTW 都會盡最大力量。
        申請的辦法是進入財務補助網站填寫<a href="https://tw.pycon.org/{{years}}/zh-hant/registration/financial-aid/">申請表單</a>。
    </p>
    <p>
        以上是議程組與您提醒的相關細節與事項，如果有任何問題請您於 <strong>{{ question_date }}</strong> 號前來信 organizers@pycon.tw 與我們聯繫。
    </p>
    <p>
        再次恭喜您，期待我們今年會議會場見。<br>
    </p>
    <p>
        Best Regards,<br>
        PyCon TW {{ years }} Program Committee
    </p>
</div>
